@font-face {
    font-family: midocean;
    src: url(../media/fonts/midocean.otf);
}
@font-face {
    font-family: sandbeach;
    src: url(../media/fonts/sandbeach.ttf);
}
@font-face {
    font-family: bitterpastry;
    src: url(../media/fonts/bitterpastry.ttf);
}

*{
    margin: 0;
    padding: 0;
}

img{
    width: 50px;
}

/* DEVELOPER 1 STYLES SAND*/
.shore body{
    animation: bgColor 10s 2s infinite;
}

.sand{
    height: 800px;
    width: 100%;
    background-color: bisque;
}

.sand h1{
    text-align: center;
    font-family: sandbeach;
    font-size: 5rem;
    color: saddlebrown;
}

#crabvideo{
    display: block;
    margin: 1px auto;
    width: 1200px;
}

.sand video{
    animation: vidWidth 10s 2s infinite;
}

@keyframes vidWidth{
    0% {width: 1200px;}
    50% {width: 1400px;}
    100% {width: 1200px;}
}

.sand img{
    position: absolute;
    width: 300px
}

#shell{
    left: 300px;
    top: 400px;
}

#shell2{
    left: 600px;
    top: 100px;
}

#shell3{
    left: 900px;
    top: 500px;
}

@keyframes movingShells{
    0% {}
}


/* DEVELOPER 2 STYLES SHORE*/
.shore{
    height: 800px;
    width: 100%;
    background-color: turquoise;
}

.shore h1{
    text-align: center;
    font-family: bitterpastry;
    font-size: 5rem;
    color: rgb(19, 121, 139);
}

#shorevideo{
    display: block;
    margin: 1px auto;
    width: 1200px;
}

.shore video{
    animation: vidWidth 10s 2s infinite;
}



/* DEVELOPER 3 STYLES OCEAN*/
.ocean{
    height: 900px;
    width: 100%;
    background-color: blue;
}

#oceantext{
    font-family: midocean;
    font-size: 5rem;
    color: white;
    text-align: center;
}

video{
    display: block;
    margin: 5px auto;
    width: 1200px;
}
.ocean video{
    animation: vidWidth 10s 2s infinite;
}

#whale3{
    position: absolute;
    left: 500px;
    top: 220vh;
    width: 250px;
    animation: whaleSwim 15s infinite;
}


@keyframes whaleSwim {
    0%{left: 1200px; width:0px;}
    50%{ left:1200px;  width: 250px;}
    75%{left: 300px; width: 100px;}
    100%{left: 300px; width:0px;}
}

#turtle{
    position: absolute;
    left: 500px;
    top: 220vh;
    width: 250px;
    animation: turtleSwim 15s infinite;
}

@keyframes turtleSwim {
    0%{left: 300px; width:0px;}
    25%{left: 300px; width: 100px;}
    75%{ left:1200px;  width: 250px;}
    100%{left: 1200px; width:0px;}
}

#bubbles{
    position: absolute;
    left: 500px;
    top: 220vh;
    width: 250px;
    animation: turtleSwim 15s infinite;
}