@font-face {
    font-family: miamibeach;
    src: url(../media/fonts/MiamiBeach.ttf);
}
@font-face {
    font-family: sandbeach;
    src: url(../media/fonts/sandbeach.ttf);
}
@font-face {
    font-family: touristbeach;
    src: url(../media/fonts/touristbeach.otf);
}

*{
    margin: 0;
    padding: 0;
}

img{
    width: 50px;
}

/* DEVELOPER 1 STYLES SAND*/
.sand{
    height: 800px;
    width: 100%;
    background-color: bisque;
}

#crabvideo{
    display: block;
    margin: 1px auto;
}

/* DEVELOPER 2 STYLES SHORE*/
.shore{
    height: 800px;
    width: 100%;
    background-color: turquoise;
}

/* DEVELOPER 3 STYLES OCEAN*/
.ocean{
    height: 800px;
    width: 100%;
    background-color: blue;
}

#oceantext{
    font-family: miamibeach;
    font-size: 5rem;
    color: white;
    text-align: center;
}

video{
    display: block;
    margin: 5px auto;
    width: 700px;
}


#anchor{
    top: 300px;
    left: 100px;
    width: 25%;
    position: absolute;
    animation: anchorWidth 2s infinite;
}

#ball{
    top: 500px;
    left: 400px;
    width: 5%;
    animation: ballHeight 2s infinite;
}


#bubbles {  
    top: 500px;
    left: 400px;
    width: 120%;
position: absolute;
animation: bubblesWidth 2s infinite;}

@keyframes anchorWidth{
    0%{width: 300px;}
    50%{width: 350px;}
    70%{width: 37px;}
    100%{width: 300px;}
}

@keyframes ballHeight{
    0%{width: 50px;}
    50%{width: 55px;}
    70%{width: 60px;}
    100%{width: 50px;}
    100%{width: 500px;}
}


@keyframes bubblesWidth{
   0%{top: 400px;}
   50%{top: 300px;}
   100%{top: 500px;}
}
