@font-face {
    font-family: miamibeach;
    src: url(../media/fonts/MiamiBeach.ttf);
}
@font-face {
    font-family: sandbeach;
    src: url(../media/fonts/sandbeach.ttf);
}
@font-face {
    font-family: touristbeach;
    src: url(../media/fonts/touristbeach.otf);
}

*{
    margin: 0;
    padding: 0;
}

/* DEVELOPER 1 STYLES */


/* DEVELOPER 2 STYLES */


/* DEVELOPER 3 STYLES */